* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  position: relative;
  width: 1275px;
  height: 598px;
}
.title {
  font-size: 34px;

  color: #3b88c3;
  position: absolute;
  left: 950px;
  top: 30px;
}
.copyRight {
  font-size: 20px;

  color: rgb(255, 255, 255);
  position: absolute;
  left: 970px;
  top: 550px;
}
.sketch {
  position: absolute;
  left: 357px;
  top: 30px;
}
button {
  font-size: 24px;
  padding: 6px;
  border: 2px solid rgb(2, 2, 2);
  border-radius: 2rem;
}
.buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  left: 20px;
  top: 120px;
}
.tools {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mainContainer {
  position: relative;
  margin: 0 auto;
  background-color: #b9b3b31d;

  width: 555px;
  height: 524px;
}
.container16 {
  display: inline-grid;
  grid-template-columns: repeat(16, 1fr);
}
.square16 {
  border: 0px solid;
  width: 34.5px;
  height: 32.7px;
}

.container32 {
  display: inline-grid;
  grid-template-columns: repeat(32, 1fr);
  position: absolute;
  left: 0px;
  top: -0px;
}

.square32 {
  border: 0px solid;
  /* width: 15.6px;
  height: 15.6px; */
  width: 17.3px;
  height: 16.3px;
}

.container64 {
  display: inline-grid;
  grid-template-columns: repeat(64, 1fr);
  position: absolute;
  left: 0px;
  top: -0px;
}

.square64 {
  border: 0px solid;
  width: 8.7px;
  height: 8.2px;
}
