* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(188, 187, 187);
}
.mainContainer {
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 500px;
  height: 500px;
}
.container16 {
  display: inline-grid;
  grid-template-columns: repeat(16, 1fr);
}
.square16 {
  border: 1px solid;
  width: 31.5px;
  height: 31.5px;
}

.container32 {
  display: inline-grid;
  grid-template-columns: repeat(32, 1fr);
  position: absolute;
  left: 0px;
  top: -0px;
}

.square32 {
  border: 1px solid;
  width: 15.6px;
  height: 15.6px;
}

.container64 {
  display: inline-grid;
  grid-template-columns: repeat(64, 1fr);
  position: absolute;
  left: 0px;
  top: -0px;
}

.square64 {
  border: 1px solid;
  width: 7.8px;
  height: 7.8px;
}

.h5 {
  color: red;
}
